html {
  --footer-hight: 100px;
  --header-hight: 60px
}

body {
  /* background-color: yellow; */
  font-weight: bold;
}

.header {
  background-color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  height: var(--header-hight)
}

.logo__image {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 8px;
}

.nav__list {
  gap: 20px;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav {
  text-align: center;
}

.nav__link {
  display: block;
  color: #fff;
  text-decoration: none;
  height: 60px;
  line-height: 60px;
padding: 5% 20px;
}

.container {
  /* box-sizing: border-box; */
  margin: 0 auto;
  padding: 20px;
  min-width: 100vh;
  min-height: calc(100vh - var(--footer-hight) - var(--footer-hight));
}

.footer {
  background-color: #444;
  color: #fff;
  text-align: center;
  height: var(--footer-hight);
  line-height: var(--footer-hight);
  margin: 0;
}

.title {
  background-color: aqua;
  text-align: center;
}

.title__item {
  background-color: #fff;
  padding: 10px;
}

.benefits {
  background-color: #fff;
  padding: 10px;
}

.teach {
  background-color: #fff;
  margin-top: 20px;
  padding: 10px;
}

.header2 {
  background-color: #fff;
  padding: 10px;
}

